/* Global styles */
body {
    font-family: 'Bungee Spice';
    margin: 0;
    padding: 0;
    background-color: #96ceb4;
}

/* Container for the quiz content */
.instructions-area {
    max-width: 800px;
    margin: 300px auto; /* Adjusted margin for better centering */
    padding: 20px;
    background-color: #ffeead;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Introduction text */
.instructions-text {
    text-align: center;
}

.instructions-text h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.instructions-text p {
    font-size: 20px;
    margin-bottom: 30px;
}

/* Steps text */
.steps-text {
    margin-bottom: 30px;
    text-align: center;
}

.steps-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.steps-text ul {
    list-style-type: none; /* Remove bullet points */
}

/* Username */
.create-username {
    text-align: center;
}

.create-username h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.display-username {
    text-align: center;
}

.start-button {
    text-align: center;
    margin-top: 20px;
}

/* Game area */
.game-area {
    text-align: center;
    margin-bottom: 50px;
    display: none; /* Initially hide questions */
    margin: 300px auto; /* Adjusted margin for better centering */
    background-color: #ffeead;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

/* Score display */
.score-display {
    z-index: 100;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    margin: 300px auto;
    font-size: 100px;
}

#question {
    font-size: 50px; 
    margin: 50px 0;
}

/* Hide answer indicator images by default */
#answer-image {
    display: none;
    margin: 10px auto;
    height: auto;
    max-width: 30px;
    height: auto;
}

/* Customize the appearance of answer buttons */
.button {
    background-color: green; 
    border: none; 
    color: white; /* Text color */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Center align text */
    text-decoration: none; /* Remove text decoration */
    display: inline-block;
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Add cursor pointer */
    border-radius: 10px; /* Add border radius */
}

/* 770px wide and below */
@media screen and (max-width: 600px) {
    /* Move instructions and game areas up */
    .instructions-area,
    .game-area {
        margin: 100px auto; /* Adjusted margin for better positioning */
    }
}
    